// viết code html
<div class="right-box">
  <h3 class="m-0 text-center py-3 bg-white alert-heading">Sách Bán Chạy</h3>
  <div class="popular-books-list">
    @foreach (var b in _popularBooks)
    {
      <div class="popular-books-item">

      </div>
    }
  </div>
</div>


// viết code c# (thay cho javascript)
@code {
  [Parameter, EditorRequired]
  public BookListDTO[] PopularBooksList { get; set; } = [];
  private BookListDTO[] _popularBooks = [];
}
